<% layout("/layouts/boilerplate")-%>
<body>

     <h2 class="new-form-head" >Create a New Listings</h2>
    <div class="row ">
        <div class="col-8 offset-2">
    <form method="POST" action="/listings">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input placeholder="enter a catchy title" name="listing[title]" class="form-control"/>
        </div>
        <div class="mb-3">
             <label for="desctiption" class="form-label">Description</label>
             <textarea name="listing[description]" placeholder="enter description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="imgae.url" class="form-label">Image Link</label>
            <input placeholder="enter image url/link" name="listing[image.url]" class="form-control" />
        </div>
        <div class="row">
   <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Country</label>
            <input placeholder="1300" name="listing[price]" class="form-control"/>
             </div>
             <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
         <input placeholder="India" name="listing[country]" class="form-control"/>
        </div>
        </div>
        
        <div class="mg-3">
           <label for="location" class="form-label">Location</label>
            <input placeholder="Odisha,Bhubaneswar" name="listing[location]" class="form-control"/>
        </div>
       <br>
      
        <button class="add-btn btn btn-dark">Add</button>
    
    </form>
    </div>
    </div>
</body>
