<% layout("/layouts/boilerplate")-%>
<body>
    <h2>Create Listings</h2>
    <form method="POST" action="/listings">
        <input placeholder="enter title" name="listing[title]"/>
        <br>
        <br>
        <textarea name="listing[description]" placeholder="enter description"></textarea>
        <br><br>
        <input placeholder="enter image url/link" name="listing[image.url]" />
        <br><br>
        <input placeholder="enter price" name="listing[price]"/>
        <br><br>
        <input placeholder="enter location" name="listing[location]"/>
        <br><br>
        <input placeholder="enter country" name="listing[country]"/>
        <br><br>
        <button>Submit</button>
    </form>
</body>
